#answer{
    font-family: sans-serif;
    font-size: 30px;
    color: blue;
}
#body {
    background-color: gray;
    text-align:center;
}
#input1{
    border: solid 2px;
    border-color: blue;
    height: 30px;
    font-size: 30px;
    
}
#dropdown{
    border: solid 1px;
    color: maroon;
    background-color: white;
    font-weight: bold;
}
#input2{
    border: solid 2px;
    border-color: blue;
    height: 30px;
    font-size: 30px;
}
#submitButton{
    font-family: sans-serif;
    font-size: 15px;
    background-color: orange;
    border: solid 2px;
    height: 30px;
}
h1{
   font-family: sans-serif; 
   border-bottom: solid;
   margin-left: 400px;
   margin-right: 400px;
   color: red;
   
}