body {
    background-color: gray;
}

h1 {
    border-bottom: solid;  
    margin-left: 400px;
    margin-right: 400px;
    color: red;
    font-family: sans-serif;
    text-align:center;
}

h2 {
    font-family: sans-serif;
    color: white;
}

img {
    transition: .5s all linear;
    border: solid black;
    margin-left: 40px;
}
img:hover {
    width: 300px;
    height: 225px; 
}

#greecepic {
    position: relative;
}

#israelpic {
    position: relative;
    bottom: 255px;
    left: 300px;
}

#barcelonapic {
    position: relative;
    bottom: 765px;
    left: 900px;
}

#newyorkpic {
    position: relative;
    bottom: 510px;
    left: 600px;
}

#info4 {
    position: relative;
    bottom: 725px;
    font-family: sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 150px;
    text-indent: 50px;
}

#info3 {
    position: relative;
    bottom: 725px;
    font-family: sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 150px;
    text-indent: 50px;
}

#info2 {
    position: relative;
    bottom: 725px;
    font-family: sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 150px;
    text-indent: 50px;
    font-size: 20px;
}

#info1 {
    position: relative;
    bottom: 725px;
    font-family: sans-serif;
    color: blue;
    text-indent: 50px;
    font-size: 50px
}