body {
    background-color: gray;
}

h1 {
    border-bottom: solid;  
    margin-left: 400px;
    margin-right: 400px;
    color: red;
    font-family: sans-serif;
    text-align:center;
}

h2 {
    font-family: sans-serif;
    color: white;
}

img {
    transition: .5s all linear;
    border: solid black;
}
img:hover {
    width: 300px;
    height: 225px;
}

#greecepic {
    position: relative;
}

#israelpic {
    position: relative;
    bottom: 255px;
    left: 300px;
}

#barcelonapic {
    position: relative;
    bottom: 756px;
    left: 600px;
}

#newyorkpic {
    position: relative;
    bottom: 505px;
    left: 900px;
}