body {
    background-color: gray;
    color: white;
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif; 
    border-bottom: solid;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    color: red;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: magenta;
}
.turquoise {
    background-color: turquoise;
}
.colors {
    font-family: sans-serif;
    font-size: 20px;
    height: 50px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 80%;
}
.hat {
    position: relative;
    bottom: 835px;
    left: 850px;
}
.dress {
    position: relative;
    bottom: 828px;
    left: 830px;
}
.shoes {
    position: relative;
    bottom: 820px;
    left: 900px;
}
#hatbutton {
    margin-left: 20px;
}
#dressbutton {
    margin-left: 20px;
}
#shoesbutton {
    margin-left: 20px;
}
#yellowhat {
    background-color: gray;
}
#pinkhat{
    background-color: gray;
}
#purplehat {
    background-color: gray
}
#reddress {
    background-color: gray
}
#orangedress {
    background-color: gray
}
#yellowdress {
    background-color: gray
}
#greendress {
    background-color: gray
}
#bluedress {
    background-color: gray
}
#purpledress {
    background-color: gray
}
#redshoes {
    background-color: gray
}
#greenshoes {
    background-color: gray
}
#turquoiseshoes {
    background-color: gray
}
#purpleshoes {
    background-color: gray
}
#outfit {
    position: relative;
    bottom: 300px;
    left: 600px;
}                                                                                                                                                                                