#navbar{
    text-align:center;
}
#navbar li{
    display:inline-block;
    border: 3px black solid;
    font-size: 20px;
    padding: 3px;
    color: white;
    transition: .1s all linear;
}
#navbar a{ 
    color: white;
    font-family: sans-serif;
    font-size: 20px
    text-decoration: none;
    transition: .5s all linear;
}
#navbar li:hover{
    font-size:25px;
}