body {
    background-color: grey;
    color: white;
    font-family: sans-serif;
    
}

h1 {
    font-family: sans-serif; 
    border-bottom: solid;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    color: red;
}

h2 {
    font-family: sans-serif;
    border-bottom: solid;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: black;
}
h3 {
    text-align: center;
    border-bottom: solid;
    margin-left: 430px;
    margin-right: 430px;
}
p {
    text-indent: 30px;
}
img {
    position: relative;
    left: 500px;
}
#globaldata {
    color: red
}
#whattodo{
    color: yellow;
}
#howtodo {
    color: blue;
}
#black {
    color: black;
}
.info {
    margin-right: 150px;
    margin-left: 150px;
}