body {
    background-color: gray;
    color: white;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif; 
    border-bottom: solid;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    color: red;
}

h2 {
    font-family: sans-serif;
    border-bottom: solid;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: white;
}